# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.root
*.png

root/*

analyzer_exec
plotter_stack_exec
*_exec
*Exec

venv/*

*.pdf

ugent2016-master/*

.vscode/*
*.code-workspace

*.weights.xml
*.class.C

*.pyc
*.h5

# skimmer stuff
skimmer/skimmer*.sh
cjob*.sh
cjob*.sub
skimmerCleaned/skimmer*.sh
skimmerCleaned/skimmer*.sub
skimmerCleaned/merger*.sub
skimmerCleaned/merger*.sh
skimmerCleaned/tmp/**
stacker*sh
stacker*sub